
.icon-mail:before { content: '\e800'; } /* '' */
.icon-vcard:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-adult:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */