body {
    background-color: slategrey;
    color: floralwhite;
}

a:link {
    color: lawngreen;
    text-decoration: none;
}

a:visited {
    color: #aaff01;
    text-decoration: none;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

a:active {
    color: #aaff01;
    text-decoration: none;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: black;
    text-align: center;
    padding: 20px;
    letter-spacing: 20px;
}

#nav {
    display: table-cell;
    background-color: #008744;
    padding: 10px;
    width: 12%;
    text-align: center;
}

#content {
    display: table-cell;
    padding: 10px;
    text-align: center;
}

#clock {
    background-color: #008744 ;
    display: table-cell;
    width: 12%;
    padding: 10px;
    text-align: center;
}

#footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 10px;
}

#row {
    display: table;
    width: 100%;
}

.thread{
    color: #7bc043;
}
