<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="favicon" th:href="@{/icons/favicon.ico}"/>
    <script src="/js/clock.js" type="text/javascript"></script>
</head>
<body onload="clock()">
<div id="container">
    <div id="logo">
        <h1>FQRUM</h1>
    </div>
    <div id="row">
        <div th:replace="fragments/nav::nav">
        </div>
        <div id="content">
            <p style="text-align:justify"> Mój pierwszy projekt we frameworku Spring. Jest to strona typu forum gdzie użytkownik może się
                zarejestrować, zalogować i zadać pytanie. Inni mogą czytać te wątki, odpowiedzi do nich oraz odpowiadać
                na nie. Użytkownicy mogą modyfikować oraz usuwać swoje wątki i odpowiedzi. Pytania oraz odpowiedzi są
                dostępne publicznie.</p>
            <br>
            <iframe src="https://ebd.cda.pl/700x440/4622663ee" width="700" height="440" style="border:none;"
                    frameBorder="0" scrolling="no" allowfullscreen name="v2"></iframe>
            <br><br>
            <iframe src="https://ebd.cda.pl/620x395/4490867a2" width="700" height="440" style="border:none;"
                    frameBorder="0" scrolling="no" allowfullscreen name="v2"></iframe>
            <br><br>
        </div>
        <div id="clock"></div>
    </div>
    <div th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>