<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="/js/clock.js" type="text/javascript"></script>
</head>
<body onload="clock()">
<div id="container">
    <div id="logo">
        <h1>Profile</h1>
    </div>
    <div id="row">
    <div th:replace="fragments/nav::nav">
    </div>
    <div id="content" style="text-align: left">
        <div th:switch="${user}">
            <p th:case="'anonymousUser'">You're not logged in.<br></p>
            <div th:case="*">Logged as: <td th:text="${user}"/>
                <br><br>
            <span class="thread">Your threads: <td th:text="${topicsCount}"/></span>
            <form th:each="topic: ${topics}">
                    <p> &nbsp; <span class="thread">-</span> &nbsp;
                        Id: <td th:text="${topic.id}"/>,
                    Title: <td th:text="${topic.title}"/>,
                    Description: <td th:text="${topic.description}"/>,
                    User: <td th:text="${topic.user.getName()}"/>
                    <a th:href="@{/edit-topic(id=${topic.id})}" name="id">Edit / Delete</a>
                </p>
            </form>
            <br>
            <span class="thread">Your answers: <td th:text="*{answerCuntNativeQuery}"/></span>
            <form th:each="answer: ${answers}">
                <p> &nbsp; <span class="thread">-</span> &nbsp;
                    Id: <td th:text="${answer.id}"/>,
                Content: <td th:text="${answer.content}"/>,
                Topic id: <td th:text="${answer.topic.getId()}"/>,
                User: <td th:text="${answer.user.getName()}"/>,
                Topic owner: <td th:text="${answer.topic.user.getName()}"/>
                <a th:href="@{/edit-answer(id=${answer.id})}" name="id">Edit / Delete</a>
                </p>
            </form>
            </div>
        </div>
    </div>
        <div id="clock" ></div>
    </div>
    <div th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>