<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Threads</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="/js/clock.js" type="text/javascript"></script>
</head>
<body onload="clock()">
<div id="container">
    <div id="logo">
        <h1>Threads</h1>
    </div>
    <div id="row">
    <div th:replace="fragments/nav::nav">
    </div>
    <div id="content" style="text-align: left">
        <form th:each="topic: ${topics}">
            <p>
            <span class="thread">Thread: </span>
            Id: <td th:text="${topic.id}"/>,
            Title: <td th:text="${topic.title}"/>,
            Description: <td th:text="${topic.description}"/>,
            Owner: <td th:text="${topic.user.getName()}"/>
            &nbsp; <span class="thread">-</span> &nbsp;
            <a th:href="@{/topics(id=${topic.id})}" name="id">Add answer</a>
            </p>
<!--                <td><a th:href="${'topics/'+topic.getId()}" name="id">Add answer</a></td></p>-->
            <form th:each="answer: ${answers}">
                <div th:if="${topic.id==answer.topic.getId()}">
                    <p>
                    &nbsp; <span class="thread">-</span> &nbsp;
                Id: <td th:text="${answer.id}"/>,
                Content: <td th:text="${answer.content}"/>,
                Topic id: <td th:text="${answer.topic.getId()}"/>,
                User: <td th:text="${answer.user.getName()}"/>
                    </p>
                </div>
            </form>
            <br>
        </form>
    </div>
        <div id="clock" ></div>
    </div>
    <div th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>