<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="/js/clock.js" type="text/javascript"></script>
</head>
<body onload="clock()">
<div id="container">
    <div id="logo">
        <h1>Users</h1>
    </div>
    <div id="row">
        <div th:replace="fragments/nav::nav">
        </div>
        <div id="content">
            <form th:each="user: ${users}">
                <p> email: <td th:text="${user.email}"/>,
                name: <td th:text="${user.name}"/>
            </form>
        </div>
        <div id="clock" ></div>
    </div>
    <div th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>
